<div id="<%= dom_id preferred_email %>">
  <p>
    <strong>Email:</strong>
    <%= preferred_email.email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= preferred_email.subject %>
  </p>

  <p>
    <strong>User:</strong>
    <%= preferred_email.user_id %>
  </p>

</div>
