<% content_for :title, "New preferred email" %>

<h1>New preferred email</h1>

<%= render "form", preferred_email: @preferred_email %>

<br>

<div>
  <%= link_to "Back to preferred emails", preferred_emails_path %>
</div>
